[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"csv2rdf" = {path = ".", editable = true}
pandas = "*"
click = "*"
google-cloud-bigquery = "*"
google-cloud-bigquery-storage = "*"
pytz = "*"
pyarrow = "*"

[dev-packages]
requests = "*"
pydgraph = "*"
portray = "*"
coverage = "*"
pylint = "*"
diff-cover = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
